.button__new{
    
}

.add-task{
    float: right;
    margin-right: 20px;
    margin-top: 10px;
}

.tache-liste{
    margin-top: 60px;
}

.modal{
    /* display: none; Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 200; /* Sit on top */
  margin-left: 0%;
  top: 10%;
  width: 90%; /* Full width */
  height: 70%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(147, 147, 147, 0.6); /* Black w/ opacity */
    border-radius: 20px;
    backdrop-filter: blur(5px);
}

.modal h1{
    color: rgb(0, 153, 153);
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.innactive{
  display: none;
}

.select{
  text-align: center;
  margin-bottom: 10px;
}
  .niveau{
    margin-top: 10px;
    width: 50%;
    margin : auto
  }

  .input-text{
    text-align: center;
  }